// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel-item.active {
  background-color: black;
}

.bg-black  {
  background-color: black;
}

.caro {
  background-color: black;
}

